.project-panel {
    margin-top: 40px;
    margin-bottom: 40px;
}

.feature-section{
    display: flex;
    justify-content: space-between;
    gap: 4.3vw;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
    justify-content: center;
}

.grid-item {
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000000;
}

.grid-item div{
    height: 100px;
    width: fit-content;
}